@page "/projects"
@*@page "/projects/{SessionID}"*@
@using Microsoft.AspNetCore.WebUtilities; 
@using Client.Models
@inject HttpClient http
@inject IState appState
@inject NavigationManager navigation
@inject IJSRuntime jJSRuntime

<div class="content-container">
    <ListHeader Title="My Project List"
                HandleAdd="@AddNewProject"
                HandleRefresh="@HandleRefresh"
                RoutePath="/Projects" />
    <div class="columns is-multiline is-variable">
        <div class="column is-8">
            
            <ProjectList ErrorMessage="@errorMessage"
                         Projects="@MyProjects"
                         SelectProject="@SelectProject"
                         DeleteProject="@DeleteProject" 
                         />
        </div>
    </div>

    <ModalYesNo Message="@modalMessage"
                OnNo="@CloseModal"
                OnYes="@DeleteFromModal"
                Show="@showModal"/>
   
</div>

@code {
    private string errorMessage = "";
    private IEnumerable<Project> MyProjects;
    //private List<Project> MyProjects = new ;
    private Project ProjectToDelete;
    private bool showModal;
    private string modalMessage = "";

    protected override async Task OnInitializedAsync()
    {
        string pageReferrer = "not set yet";
        //pageReferrer = await jJSRuntime.InvokeAsync<string>("getPageReferrer"); 
        //This call uses the Azure Function
        MyProjects = await http.GetFromJsonAsync<IEnumerable<Project>>("api/Projects" + "?SessionID=" + appState.SessionID + "&calledFrom=" + pageReferrer);
        return;

        //This calls Workfront API Directly from the Blazor Web Assembly Client
        try
        {
            //http.DefaultRequestHeaders.Add("SessionID", appState.SessionID);
            //DataContainer data = await http.GetFromJsonAsync<DataContainer>("https://denverwater.sb01.workfront.com/attask/api/v9.0/project/search?sessionID=" + appState.SessionID);
            
            DataContainer data = new DataContainer();
            
            data = await http.GetFromJsonAsync<DataContainer>("https://denverwater.sb01.workfront.com/attask/api/v9.0/project/search" + "?sessionID=" + data.sessionID);
            MyProjects = data.projects;
        }catch (Exception e)
        {
            Project p = new Project();
            p.name = e.Message;
            List<Project> proj = new List<Project>();
            proj.Add(p);
            MyProjects = proj;

        }
    }

    private void AddNewProject()
    {
        navigation.NavigateTo("/Project/0");
    }

    private async Task HandleRefresh()
    {
        //This gets the project from the Azure Function
        MyProjects = await http.GetFromJsonAsync<IEnumerable<Project>>("api/Projects" + "?SessionID=" + appState.SessionID);

        //This call attemps to call the Workfront API 
        //DataContainer data = await http.GetFromJsonAsync<DataContainer>("https://denverwater.sb01.workfront.com/attask/api/v9.0/project/search?sessionID=" + appState.SessionID);
        //MyProjects = data.projects;
        //MyProjects = await http.GetFromJsonAsync<IEnumerable<Project>>("api/Projects?SessionID=" + S + SessionID    

    }

    private void SelectProject(Project Project)
    {
        navigation.NavigateTo($"/Project/{Project.ID}");
    }

    private void DeleteProject(Project Project)
    {
        ProjectToDelete = Project;
        showModal = true;
        modalMessage = $"Would you like to delete {ProjectToDelete.name}";
    }

    private void CloseModal()
    {
        ProjectToDelete = null;
        showModal = false;
    }

    private async Task DeleteFromModal()
    {
        await http.DeleteAsync($"api/Projects/{ProjectToDelete.ID}"+ "?SessionID=" + appState.SessionID);
        await HandleRefresh();
        ProjectToDelete = null;
        showModal = false;
    }
}